/* 1. import fonts first */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@500;700&display=swap');

/* 2. import tailwind */
@import "tailwindcss";

/* 3. define theme tokens */
@theme {

  --font-play: "Play";
  --font-stranger: "StrangerDoctor";
}

/* 4. base layer styles */
@font-face {
  font-family: 'StrangerDoctor';
  src: url('/fonts/StrangerDoctor.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

body {

  background-color: #191919;

}